
html {
    font-size: 1em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*css reset*/

img {
    max-width: 100%;
}

h1,
h2,
h3,
a {
    font-family: 'Lato', sans-serif;
}

a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

p {
    line-height: 30px;
    font-size: 18px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    background-color: #fafafa;
}

@font-face {
    font-family: 'LatoBold';
    src: url('fonts/LatoBold.eot');
    src: url('fonts/LatoBold.eot') format('embedded-opentype'),
    url('fonts/LatoBold.woff2') format('woff2'),
    url('fonts/LatoBold.woff') format('woff'),
    url('fonts/LatoBold.ttf') format('truetype'),
    url('fonts/LatoBold.svg#LatoBold') format('svg');
}
@font-face {
    font-family: 'LatoBlack';
    src: url('fonts/LatoBlack.eot');
    src: url('fonts/LatoBlack.eot') format('embedded-opentype'),
    url('fonts/LatoBlack.woff2') format('woff2'),
    url('fonts/LatoBlack.woff') format('woff'),
    url('fonts/LatoBlack.ttf') format('truetype'),
    url('fonts/LatoBlack.svg#LatoBlack') format('svg');
}
@font-face {
    font-family: 'LatoLight';
    src: url('fonts/LatoLight.eot');
    src: url('fonts/LatoLight.eot') format('embedded-opentype'),
    url('fonts/LatoLight.woff2') format('woff2'),
    url('fonts/LatoLight.woff') format('woff'),
    url('fonts/LatoLight.ttf') format('truetype'),
    url('fonts/LatoLight.svg#LatoLight') format('svg');
}
@font-face {
    font-family: 'LatoRegular';
    src: url('fonts/LatoRegular.eot');
    src: url('fonts/LatoRegular.eot') format('embedded-opentype'),
    url('fonts/LatoRegular.woff2') format('woff2'),
    url('fonts/LatoRegular.woff') format('woff'),
    url('fonts/LatoRegular.ttf') format('truetype'),
    url('fonts/LatoRegular.svg#LatoRegular') format('svg');
}
@font-face {
    font-family: 'LatoBoldItalic';
    src: url('fonts/LatoBoldItalic.eot');
    src: url('fonts/LatoBoldItalic.eot') format('embedded-opentype'),
    url('fonts/LatoBoldItalic.woff2') format('woff2'),
    url('fonts/LatoBoldItalic.woff') format('woff'),
    url('fonts/LatoBoldItalic.ttf') format('truetype'),
    url('fonts/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
}
@font-face {
    font-family: 'LatoItalic';
    src: url('fonts/LatoItalic.eot');
    src: url('fonts/LatoItalic.eot') format('embedded-opentype'),
    url('fonts/LatoItalic.woff2') format('woff2'),
    url('fonts/LatoItalic.woff') format('woff'),
    url('fonts/LatoItalic.ttf') format('truetype'),
    url('fonts/LatoItalic.svg#LatoItalic') format('svg');
}
@font-face {
    font-family: 'LatoLightItalic';
    src: url('fonts/LatoLightItalic.eot');
    src: url('fonts/LatoLightItalic.eot') format('embedded-opentype'),
    url('fonts/LatoLightItalic.woff2') format('woff2'),
    url('fonts/LatoLightItalic.woff') format('woff'),
    url('fonts/LatoLightItalic.ttf') format('truetype'),
    url('fonts/LatoLightItalic.svg#LatoLightItalic') format('svg');
}

.clear{
    clear: both;
}

#preloader {
  background: none repeat scroll 0 0 #fff;
  display: block;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.loader {
  height: 50px;
  width: 50px;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);

}

.circle-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 50px;
  left: 50%;
  position: absolute;
  top: 20%;
  width: 50px;
}

.circle-loader .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #3f88f8;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
}
50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
}
100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
}
}


.padd-tb-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.padd-tb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.padd-tb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padd-tb-73 {
    padding-top: 73px;
    padding-bottom: 73px;
}

.padd-tb-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.row {
    margin-bottom: 0;
}


.bottom-50 {
    margin-bottom: 50px;
}

.btn-large {
    height: 50px;
    line-height: 50px;
    text-transform: inherit;
    margin-bottom: 0;
}

.container {
    position: relative;
}

.italic {
    font-style: italic;
}

.overflow-hidden {
    overflow: hidden;
}


.section-call-to-area {
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    min-height: 1px;
}
.section-call-to-area .row {
    position: relative;
}

.section-call-to-btn:hover,
.section-call-to-btn {
    position: absolute;
    bottom: -25px;
    background-color: #fff;
}

.section-call-to-btn i {
    color: #444444;
}
.section-call-to-btn.button-middle {
    left: 50%;
    margin-left: -27px;
}
.section-call-to-btn.button-right-1 {
    right: 47px;
}
.section-call-to-btn.button-right-2 {
    right: 16px;
}

/*slider inner div's */

#testimonialSlider .owl-item > div,
#teamSlider .owl-item > div,
#educationSlider .owl-item > div,
#experienceSlider .owl-item > div {
    width: 100%;
    margin: 10px 0;
}



.title {
	white-space: nowrap;
/*    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 35px;*/
}

.regular-text {
    font-size: 16px;
    font-weight:400; 
}

.btn-large {
    text-transform: uppercase;
}


.main-section {
    overflow: hidden;
}

section.brand-bg .title {
    color: #fff;
}

.inline-menu li a {
    font-size: 14px;
    font-weight: 500;
}


.btn-floating.btn-up {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-floating.btn-up,
.btn-floating.btn-hidden {
    -webkit-transition: all 1.3s ease;
    transition: all 1.3s ease;
}


.btn-hidden {
    -webkit-transform: translateX(1000px) !important;
    -ms-transform: translateX(1000px) !important;
    transform: translateX(1000px) !important;
}

.btn-floating.btn-show {
    -webkit-transition: all .3s ease !important;
    transition: all .3s ease !important;
}

.btn-floating.btn-large i {
    line-height: 59.5px;
}

/* --------------------------------- */
/* 3. Navigation Menu Styles
----------------------------------- */

header.nav {

    box-shadow: 0 1px 6px rgba(0,0,0,.35);
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 999;
    -webkit-transition: top .5s;
    transition: top .5s;
}
header.nav.hide-menu {
    top: -90px;
}
header.nav li a:hover {
    border-bottom: 4px solid #7986cb;
}
.primary-nav {
    height: inherit;
    line-height: inherit;
    background-color: transparent!important;
    box-shadow: none;
}

.primary-nav .brand-logo {
    position: static;
	/*position:absolute;*/
    font-size: inherit;
}

.primary-nav .brand-logo img {
  height: 44px;
  margin: 10px 0px 0;
}

.mobile-profile{
    display: none;
}

.side-nav li {
    margin-left: 40px;
}

.side-nav li,
.side-nav li:hover {
    background-color: transparent;
}

.side-nav li:first-child {
    margin-left: 0;
}

.side-nav li a {
    color: #fff !important;
    padding: 21px 0 16px 0 !important;
    border-bottom: 6px solid transparent;
    background-color: transparent;
    line-height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	text-transform:initial!important;
	font-size:initial !important;
	font-weight:initial !important;
}

.side-nav  li.current a,
.side-nav  li a:hover {
    background-color: transparent;
}

.side-nav li i {
    display: none;
}

.question{
    position: relative;
}
.question2{
    display: inline-block;
    /*position: absolute;*/
    right: -19px;
    top: 20px;
    width: 17px;
    height: 13px;
}

.static-menu {
    margin-left: 50px !important;
}
.static-menu li:hover {
    background-color: transparent;
    border: transparent!important;
}

.static-menu li a {
    line-height: 23px !important;
    padding: 21px 0 !important;
    font-size: 25px;
    color: #fff;
    background-color: transparent;
    border: transparent!important;
	text-transform:none !important;
}

.static-menu li i:hover,
.static-menu li a:hover {
    background-color: transparent;
    border: transparent!important;

}


.static-menu li a i {
    line-height: inherit;
    height: inherit;
    font-size: inherit;
    float: none!important;
    margin: 0;
    vertical-align: middle;
}

.static-menu li:last-child {
    margin-left: 12px;
}

.static-menu {}
.static-menu form {
    width: 300px;
    position: relative;
    height: 80px;
    max-width: 100%;
    padding-left: 35px;
}

#initSearchIcon {
    cursor: pointer;
}

.static-menu .search {
    width: 100%;
    margin-bottom: 0;
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 13px 0px;
}

.static-menu .search,
.static-menu .search:hover,
.static-menu .search:focus,
.static-menu .search:active {
    border: none;
    box-shadow: none;
}


.static-menu form button {
    line-height: inherit;
    height: inherit;
    border: none;
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.static-menu form i {
    height: inherit;
    line-height: inherit;
    font-size: 26px;
    color: #727272;
}

.submenu-ul {
    min-width: 170px;
    overflow: visible!important;
    max-height: 100%;
    height: auto!important;
    /* padding: 20px; */
}

.submenu-ul li {
    font-size: 13px;
    text-transform: none;
    font-weight: 500;
    line-height: 1.1;
    /* margin-bottom: 21px; */
}

.submenu-ul li:last-child {
    margin-bottom: 0;
}

.submenu-ul li:hover {
    background:transparent;
}

.submenu-ul li a {
    padding: 0;
    color: #727272;
    background-color: transparent;
    display: block;
    line-height: 1.1;
    padding: 20px 25px;
}

.submenu-ul li a:hover {
 background: rgba(0, 0, 0, 0.05);
 color: rgba(0, 0, 0, 0.95);
 font-weight: bold;
}
.submenu-ul li a img{

    margin-right: 8px;
    
    margin-top: -4px;
}

/* --------------------------------- */
/* 4. Home Section Styles
----------------------------------- */

#home {
    background: url('../images/home-bg.jpg') no-repeat fixed center center / cover;
}

#home .sec-overlay {
    background: rgba(0,0,0, .6);
    width: 100%;
    height: 100%;
}

.home-inner {
  display: table;
  height: calc(100vh - 71px);
  padding-top: 104px;
  width: 100%;
}

.home-content {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.home-title {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.56px;
  margin-bottom: 15px;
  /* text-transform: uppercase; */
  color: #c5cae9;
  text-align: left;
}

.home-subtitle {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 38px;
  text-transform: none;
}

.home-content > a.btn-large i {
    font-size: 20px;
    margin-right: 10px;
}

.home-content > a.btn-large {
    height: 45px;
    line-height: 45px;
}


#home2 {
    background: url('../images/bg.jpg') no-repeat fixed center center / cover;
}
#home3 {
    background: url('../images/bg2.jpg') no-repeat fixed center center / cover;
}
#home .sec-overlay2 {
    background: rgba(0,0,0, .6);
    width: 100%;
    height: 100%;
}

.home-inner2 {
  display: table;
  height: calc(100vh - 71px);
  padding-top: 104px;
  width: 100%;
}

.home-content2 {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.home-title2 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.56px;
  margin-bottom: 15px;
  /* text-transform: uppercase; */
  color: #c5cae9;
  text-align: left;
}

.home-subtitle2 {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 38px;
  text-transform: none;
}

.home-content2 > a.btn-large i {
    font-size: 20px;
    margin-right: 10px;
}

.home-content2 > a.btn-large {
    height: 45px;
    line-height: 45px;
}




.root-sec {
    position: relative;
}

.btn-wrapp {
    position: absolute;
    right:1.4%;
    top:55.8%;
}
.btn-wrapp a {
    display: block;
    margin-bottom: 20px;
}

.btn-wrapp a:last-child {
    margin-bottom: 0;
}

.footer{
   /*background: -webkit-linear-gradient(bottom, rgba(51,51,153,0.25), rgba(51,102,204,0.25)) !important;
   background: -o-linear-gradient(bottom, rgba(51,51,153,0.25), rgba(51,102,204,0.25)) !important;
   background: linear-gradient(bottom, rgba(51,51,153,0.25), rgba(51,102,204,0.25)) !important;*/
}
#footer {
   background: -webkit-linear-gradient(bottom, #2c3ea0, #3350b9);
   background: -o-linear-gradient(bottom, #2c3ea0, #3350b9);
   background: linear-gradient(to top, #2c3ea0, #3350b9);
   color: white;
   padding-bottom: 62px;
}

#footer h3{
    font-size: 120%;
    margin: 20px 0 4px 0;
	line-height:inherit;
}
#footer ul li a {
    color: white;
    font-size: 14px;
    /*margin: 20px 0 0 0;*/
}
#footer ul li a:hover {
    color: #7986cb;
}

.container {
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1170px;
    width: 90%;
}
@media only screen and (min-width: 0px) {
	nav a.button-collapse {
		float:left !important;
		position:relative !important;
		/*height:auto !important;*/
		line-height: inherit !important;
	}
	
	nav .nav-wrapper i {
		line-height:inherit;
		height:auto !important;
	}

}

@media only screen and (min-width: 768px){
	.container {
		width: 750px;
	}
	.container2 {
		width: 750px;
	}
}
@media only screen and (min-width: 992px){
  .container {
    width: 940px;
}
.container2 {
    width: 940px;
}
}
@media only screen and (min-width: 1200px){
  .container {
    width: 1170px;
}
.container2 {
    width: 940px;
}
}

.container .row {
    margin-right:-15px;
    margin-left:-15px;
}

.row .col {
    /*padding-right: 15px;
    padding-left: 15px;*/
	padding-right: 0px;
    padding-left: 0px;
}



.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



@-webkit-keyframes fadeInUpSmall{
    0%{
        opacity:0;
        filter: alpha(opacity=0);
        -webkit-transform:translate3d(0,20px,0);
        transform:translate3d(0,20px,0)
    }
    100%{
        opacity:1;
        filter: alpha(opacity=100);
        -webkit-transform:none;
        transform:none;
    }
}
@keyframes fadeInUpSmall{
    0% {
        opacity:0;
        filter: alpha(opacity=0);
        -webkit-transform:translate3d(0,20px,0);
        transform:translate3d(0,20px,0)
    }
    100% {
        opacity:1;
        filter: alpha(opacity=100);
        -webkit-transform:none;
        transform:none;
    }
}
.fadeInUpSmall {
    -webkit-animation-name:fadeInUpSmall;
    animation-name:fadeInUpSmall
}

@-webkit-keyframes fadeOutUpSmall{
    0% {
        opacity:1;
        filter: alpha(opacity=100);
    }
    100% {
        opacity:0;
        filter: alpha(opacity=0);
        -webkit-transform:translate3d(0,-20px,0);
        transform:translate3d(0,-20px,0);
    }
}

@keyframes fadeOutUpSmall{
    0% {
        opacity:1;
        filter: alpha(opacity=100);
    }
    100% {
        opacity:0;
        filter: alpha(opacity=0);
        -webkit-transform:translate3d(0,-20px,0);
        transform:translate3d(0,-20px,0);
    }
}
.fadeOutUpSmall {
    -webkit-animation-name:fadeOutUpSmall;
    animation-name:fadeOutUpSmall;
}





.circular {
    width:40px; 
    height:40px;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
}


.circular.size-20 {
    width:20px; 
    height:20px;
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes rotate {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #000;
}

@-webkit-keyframes dash {
  0%   {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
}
50%  { 
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
}
100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
}
}

@keyframes dash {
  0%   {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
}
50%  { 
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
}
100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
}
}


/* Add your CSS below */
.button_action {
    width: 238px;
    height: 58px;
    color: white;
    background-color: #283593;
    border-style: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 19px;
}
.button_action a {
    color: white;
    font-size: 19px;
    align-content: center;
}
.button_action:hover{
    text-decoration: underline;
}
#language{
    font-size: 14px;
    padding-right: 17px;
}
#activation {
    padding: 90px 0 47px 0;
    background-color: #f2f2f2;
}
#activation h1{
    color: #283593;
    font-size: 24px;
    font-weight: 800;
    margin-left: 7px;
    margin-top: 7px;
}
#activation h4{
    color: #393939;
    font-size: 18px;
    font-weight: 200;
    margin: 26px 0 0 8px;
    line-height: 34px;
}
#how_it_works {
    padding: 33px 0 58px 0;
    background-color: white;
}
#how_it_works img {
   text-align: center;
   display: block;
   margin: 0 auto; 
   float: none;
}
#how_it_works p {
    margin-top: 6px;
    color: #393939;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}
#how_it_works h1 {
    margin-bottom: 50px;
    color: #3f51b5;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

#cities {
    padding: 66px 0 36px 0;
    background-color: #283593;
}
#cities p {
    margin-top: -100px;
    font: 24px 'LatoBlack';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
	position:relative;
}
#cities a{
    color: white;
}
#cities a:hover p{
    text-decoration: underline;
}
#cities a.more {
    margin: 0px 0 0 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    display: block;
    position: relative;
}
#cities a.more:hover{
    color: #000;
}

#cities img {
   text-align: center;
   display: block;
   margin: 0 auto; 
   float: none;
   width:300px;
   height:180px;
}
#partners {
    padding: 43px 0 85px 0;
    background: url('../images/partners_bg.jpg');
}
.partner {
    width: 100%;
    height: 85px;
    background-color: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 30px;
}
/*
.partner:hover .partner2{
    display: block !important;
}
.partner:hover img, .partner:hover .last{
    display: none;
}*/
.partner2{
    display: none !important;
    width: 100%;
    height: 85px;
    background-color: white;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    padding: 23px 0;
    color: #283593; /*#f26b26*/
}
.partner-last{
    color: #056bab;
    text-decoration: underline;
    text-transform: uppercase;
}
.last{
    width: 100%;
    text-align: center;
    padding: 23px 0;
    color: #000;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.partner a{
    display: block;
}
.partner img{
    height: 85px;
    width: 100%;
}
#partners h1 {
    margin-bottom: 8px;
    color: #3f51b5;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
#restaurants {
    padding: 43px 0 61px 0;
    background-color: #f2f2f2;
}
.home-title{
    margin: 20px 0 10px 0 !important;
}
.home-subtitle{
    margin: 0 0 30px 0 !important;
    line-height: 35px;
}
.col-sm-6{
    padding: 0 !important;
}
.button_action2{
    margin: 35px 0 0 10px;
}
.text{
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    display: block;
/*    width: 411px;*/
    margin: 0 auto;
}
.text span.start{
    font: 200% 'LatoBold'; /*28px */
    display: block;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 0.6px;
}
.text strong.bax{
    font: 46px 'LatoBold';
    display: block;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 0.6px;
    -moz-transform: rotate(-7deg); /* Ãâ€ÃÂ»Ã‘Â Firefox */
    -ms-transform: rotate(-7deg); /* Ãâ€ÃÂ»Ã‘Â IE */
    -webkit-transform: rotate(-7deg); /* Ãâ€ÃÂ»Ã‘Â Safari, Chrome, iOS */
    -o-transform: rotate(-7deg); /* Ãâ€ÃÂ»Ã‘Â Opera */
    transform: rotate(-7deg);
}
.text strong.number{
    font: 190% 'LatoBold'; /*91px*/
    text-align: center;
    display: inline-block;
    margin-top: -18px;
    vertical-align: top;
    letter-spacing: 0.6px;
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
.text p{
    font: 14px 'LatoBlack';
    margin-top: 5px;
    text-align: center;
    margin-bottom: 0;
}
.text span.crop{
    margin: 0;
    display: block;
    text-align: right;
    margin-right: 79px;
}
.col2{
    position: relative;
}
.col3{
    width: 24.8% !important;
}
.col3 .ob{
    width: 220px;
    background: #fff;
    border-radius: 17px;
    padding: 0;
    overflow: hidden;
    padding-bottom: 30px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         3px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
.up{
    position: relative;
    height: 165px;
    overflow: hidden;
}
.up img[alt='restoran']{
    height: 210px !important;
}
.down .text2 .name{
    display: block;
    font: 14px 'LatoBold';
    color: #333399;
    margin-top: 10px;
}
.down .text2 .map{
    display: block;
    font: 14px 'LatoLight';
    margin-left: 0px;
    color: #333399;
}
/*.down .text2{
    position: absolute;
    bottom: 14px;
    left: 16px;
    display: block;
    width: 93%;
    }*/
    .down a{
        float: right;
        display: block;
        margin: -33px 5px 0 0px;
    }
    .down{
        width: 190px;
        margin: 0 auto;
    }
    .down h3{
        font: 14px 'LatoBold';
        color: #333399;
        margin: 11px 0 11px 0;
    }
    .down p{
        font: 12px 'LatoRegular';
        color: #000;
        line-height: 19px;
        margin-bottom: 5px;
    }
    .down strong{
        font: 14px 'LatoRegular';
        color: #000;
        display: block;
        max-width: 160px;
        line-height: 16px;
    }
    .down .price{
        font: 14px 'LatoLight';
        color: #cccccc;
        display: inline-block;
        margin: 28px 6px 10px 49px;
        text-decoration: line-through;
    }
    .down .price2{
        font: 24px 'LatoBold';
        color: #000;
    }
    .down .more{
        font: 14px 'LatoRegular';
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        background: #333399;
        display: block;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        margin-top: -1px;
    }
    .down .more:hover{
        text-decoration: underline;
    }
    .down .time{
        float: right;
        position: relative;
        top: 37px;
        right: -37px;
    }
    #restaurants a.st{
        font: 18px 'LatoLight';
        text-transform: uppercase;
        text-align: center;
        color: #333399;
        margin: 33px 0 0 0;
        display: block;
    }
    #restaurants a.st:hover{
        color: #000;
    }
    .col4{
        padding: 0 0px 0 0px;
        width: 30%;
        margin-left: 21px;
        margin-top: 7px;
    }
    .col12{
        border-bottom: 2px solid #fff;
    }
    .col-footer{

        margin-top: 11px;
        position: relative;
    }
    .material-icons{
        font-size: 16px !important;
        position: relative;
        left: -1px;
        bottom: -3px;
    }
    .material-icons2{
        font-size: 28px !important;
        position: relative;
        left: -1px;
        /*bottom: 1px;*/
		line-height: 56px !important;
    }
    .col-footer .line{
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 30%;
        left: 0;
    }
    .home-title{
        text-align: center;
    }
    a.button-collapse2 {
        color: #fff;
        float: right;
        /*right: -39px;
        position: absolute;*/
		position: relative;
		margin-right:19px;
        /*top: 25px;*/
        z-index: 99;
        display: inline-block;
    }

    .side-nav2 a{
        position: relative;
        vertical-align: middle;
        line-height: 20px !important;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: none;
        padding: 5px 15px;
        text-transform: none;
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal;
        -webkit-transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
        transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
        color: rgba(255, 255, 255, 0.9) !important;
        font-size: 14px;
    }
    .side-nav2 a:hover{
        border: none !important;
        background: rgba(255, 255, 255, 0.08);
        color: #ffffff;
    }
    ul.side-nav2 li{
        width: 100% !important;
        border-bottom: 1px solid #2a2b2c;
		padding-left:0;
		padding-right:0;
    }
    ul.side-nav2 li:hover{
        background: none;
    }
    .side-nav2 .material-icons{
        font-size: 19px !important;
        margin-right: 15px;
        height: auto;
    }
    .tabs-content .col4:nth-child(n+10){
        display: none;
    }
    #prices{
        padding: 27px 0 61px 0;
        /*background: #f2f2f2;*/
    }
    .col-ms1{
        padding: 0;
    }
    .col5{
        width: 100%;
        padding: 0;
    }
    .col5 .ob{
        float: left;
        margin-right: 23px;
        position: relative;

    }
   .row-list-search {
	   margin-bottom:35px;
	   background-color:white;
	  
   }
   .col5 .ob i{
        font: 24px 'LatoBlack';
        color: #fff;
        position: absolute;
        left: 11px;
        top: 19px;
        -moz-transform: rotate(-41deg); /* Ð”Ð»Ñ Firefox */
        -ms-transform: rotate(-41deg); /* Ð”Ð»Ñ IE */
        -webkit-transform: rotate(-41deg); /* Ð”Ð»Ñ Safari, Chrome, iOS */
        -o-transform: rotate(-41deg); /* Ð”Ð»Ñ Opera */
        transform: rotate(-41deg);
    }
    .col5 .text3{
        background: #fff;
        padding: 13px 0 25px 0px;
        margin-bottom: 36px;
		padding-left:470px;

    }
    .col5 .text3 strong, 
	.col5 .text3 strong a{
        font: 24px 'LatoBlack';
        color: #333399;
        display: block;
    }
    .col5 .text3 .city,
	.col5 .text3 .city a{
        font: 14px 'LatoBoldItalic';
        color: #000;
        display: block;
        margin-top: 5px;
        margin-bottom: 3px;
    }
    .col5 .text3 .stars{
        font: 14px 'LatoItalic';
        color: #333399;
    }
    .col5 .text3 .stars img{
        display: inline-block;
        margin-right: 9px;
    }
    .col5 .text3 p{
        font: 14px 'LatoItalic';
        color: #999999;
        margin: 9px 0px 15px 0;
    }
    .col5 .text3 b{
        font: 14px Tahoma;
        color: #000;
        display: inline-block;
        vertical-align: top;
        max-width: 125px;
    }
    .col5 .text3 .calendar{
        display: inline-block;
        vertical-align: top;
        margin: 4px 0 0 18px;
    }
    .col5 .text3 .calendar ul{
        display: inline-block;
        vertical-align: middle;
    }
    .col5 .text3 .calendar li{
        display: inline-block;
        vertical-align: top;
    }
    .col5 .text3 .calendar a.prev, .col5 .text3 .calendar a.next{
        display: inline-block;
        vertical-align: middle;
    }
    .col5 .text3 .calendar a.prev{

        margin: -4px 7px 0px 0;

    }
    .col5 .text3 .calendar a.next{

        margin: -1px 0 0 6px;
    }
    .col5 .text3 .calendar li a{
        color: #fff;
        background: #9999cc;
        padding: 5px;
    }
    .col5 .text3 .calendar li a:hover{
        background: #3366cc;
    }
    .col5 .text3 .price{
        font: 18px 'LatoLight';
        color: #cccccc;
        display: inline-block;
        margin: 37px 6px 10px 48px;
        text-decoration: line-through;
    }
    .col5 .text3 .price2{
        font: 30px 'LatoBold';
        color: #273398;
        margin-right: 14px;
    }
    .col5 .text3 .more{
        font: 18px 'LatoRegular';
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        background: #333399;
        display: inline-block;
        padding: 11px 31px;
        text-align: center;
        position: relative;
        top: -10px;
        -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow:    3px 4px 5px 0px rgba(0, 0, 0, 0.15);
        box-shadow:         3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    }
    .col5 .text3 .more:hover{
        background: #3f51b5;
    }
    .col5 .pages{

        display: block;

        margin: -8px auto -37px;

        text-align: center;

    }
    .col5 .pages ul{
        position: relative;
        bottom: -1px;
    }
    .col5 .pages ul, .col5 .pages a.next2, .col5 .pages a.prev2{
        display: inline-block;
        vertical-align: middle;
    }
    .col5 .pages li{
        display: inline-block;
        vertical-align: top;
    }
    .col5 .pages li a, .col5 .pages a.next2, .col5 .pages a.prev2{
        color: #fff;
        font: 18px 'LatoLight';
        background: #666666;
        padding: 2px 9px;
    }
    .col5 .pages li a:hover, .col5 .pages li a.active, .col5 .pages a.next2:hover, .col5 .pages a.prev2:hover{
        background: #3366cc;
    }
    .header{
        background: #333399 !important;
    }
    .header .right-no{
        float: left !important;
        position: relative;
    }
    .header .right-no li{
        margin-left: -5px;
        margin-right: 0px;
    }
    .header .search_{
        color: #9999cc;
        font: 14px 'LatoLight';
    }
    .header .sss{
        font-size: 24px;
    }
    .sk{
        position: relative;
    }
    .header .sk:before{
        content: '';
        display: block;
        background: url(../images/m1.png) no-repeat center;
        position: absolute;
        left: -1px;
        top: 16px;
        width: 29px;
        height: 29px;
    }
    .header .center-menu{
        float: none !important;
    }
    .header .center-menu li{
        /*margin-left: 4px;*/
    }
    .header .center-menu li:nth-child(2){
       /* margin-left: 33px;*/
    }
    .header .center-menu li:last-child{
       /* margin-left: 4px;*/
    }
    .header .center-menu li a{
        padding: 16px 0;
    }
    .header .center-menu li img{

        margin-right: 6px;
    }
    .header .center-menu li a:hover{
        border-bottom: 4px solid #fff;
    }
    .header .zoek{
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font: 24px 'LatoRegular';
        display: inline-block;
        vertical-align: top;
        padding: 15px 35px;
        margin: 0 0 0 -2px;
		background-color:transparent;
		border:none;
    }
    .header .zoek:hover{
       background: #3366cc !important;
   }
   .side_menus{
    padding-top: 1px;
    background: #f2f2f2;
}
.side_menus .static-menu li{
    display: inline-block;
    margin-right: 46px;
}
.side_menus .static-menu li a{
    color: #333399;
    font: 14px Tahoma;
    /* padding-right: 0 !important; */
    padding: 10px 0px 14px 0px !important;
}
.side_menus .static-menu li:last-child{
    margin-left: 0;
    margin-right: 0;
}
.side_menus .static-menu{
    margin: 0 0 0 11px;
    display: inline-block;
}
.side_menus .static-menu .arrow_down{
    font-size: 29px !important;
    position: relative;
    top: -2px;
    margin-left: 32px;
}
.side_menus .static-menu li a.filter{
    color: #333399;
    font: 18px 'LatoBoldItalic';
    text-align: center;
    display: inline-block;
    padding: 10px 49px !important;
    position: relative;
    margin-left: -23px;
    vertical-align: middle;
}
.side_menus .filter:hover{
 background: #ffffff;
}
.quantity{
    display: inline-block;
    background: #339;
    border: none;
    height: auto;
    border-radius: 0px;
    padding: 21px 0;
    width: 60px;
}
.quantity-expand {
	width:95px;
}

.quantity:focus{
    outline: none;
}
.datepicker1{
    border: none !important;
    width: 75px !important;
    margin: 10px 0 0 0 !important;
    color: #fff;
}
.datepicker1::-webkit-input-placeholder {color:#fff;}
.datepicker1::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.datepicker1:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.datepicker1:-ms-input-placeholder      {color:#fff;}

.ui-widget-header{
    border: 1px solid #333399;
    background: #333399;
}
.ui-state-active {
  border:1px solid #fed22f !important;	
  color:#eb8f00 !important;
  font-weight: bold;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    border: 1px solid #333399;
    background: #333399;
    color: #fff;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    border: 1px solid #333399;
    background: #333399;
    color: #fff;
}
.header2{
    background: #333399 !important;
}
.tabss{
/*    padding-top: 100px;*/
    padding-bottom: 100px;
}
.tabss .left_side{
    width: 57.6%;
}
.tabss .left_side, .tabss .r_side{
    display: inline-block;
}
.tabss .r_side{
    width: 12%;
}
.tabss .right_details{
    float: right;
    margin: 0 0px 0px 0;
    padding: 17px;
    z-index: 11;
    position: relative;
}
#bxslider-pager li{
    margin-bottom: -1px !important;
}
.bx-viewport{
    margin: 0px 0 0 10px;
}
#bxslider-pager{
    margin: 12px 0 0 0px;
}
.bx-wrapper .bx-next, .bx-wrapper .bx-prev{
    background: none;
}
.ui-datepicker .ui-datepicker-title{
    font: 14px 'LatoRegular';
    padding: 4px 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border: none;
    border-radius: 0px;
}
.ui-icon-circle-triangle-e{
    background-position: -33px -3px;
}
.ui-icon-circle-triangle-w{
    background-position: -97px -3px;
}
.ui-datepicker th{
    color: #fff;
    background: #6699cc;
    border-radius: 0px;
    font: 14px 'LatoBold';
    position: relative;
    right: -1px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none;
    background: #fff;
    border-radius: 5px;
    color: #6699cc;
    font: 14px 'LatoRegular';
}
.ui-state-default:hover{
    color: #fff;
    background: #6699cc;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    color: #fff;
    background: #6699cc;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    padding: 0;
}
.ui-datepicker td span, .ui-datepicker td a{
    text-align: center;
}
.ui-datepicker table{
    margin: 0 0 0 -1px;
}
.ui-datepicker th{
    padding: 0.4em 0.3em;
}
.ui-datepicker td span, .ui-datepicker td a{
    padding: .1em;
}
.right_details{
    background: #ccccff;
}
.right_details li:first-child{
    margin-left: 0;
}
.right_details li{
    display: inline-block;
    position: relative;
    margin-top: 13px;
    margin-left: 10px;
}
.right_details li img
{
    position: absolute;
    left: 11px;
    top: 5px;
    width: 17px;
    height: 19px;
}
.details {
	 margin-left:30px;
	 margin-top:30px;
	 width:100%;
	 margin-bottom:10px;
}
.details li img 
{
    position: absolute;
    left: 40px;
    top: 5px;
    width: 17px;
    height: 19px;
}

.quantity2{
    display: inline-block;
    width: 127px !important;
    background: #fff;
    border: none !important;
    height: auto;
    border-radius: 0px;
    padding: 6px 0 6px 32px !important;
    color: #999999;
    font: 14px 'LatoRegular';
}
.quantity2:focus{
    outline: none;
}
.right_details a.more,
.right_details button.more{
    font: 14px 'LatoRegular';
	font-family:'Open Sans', sans-serif!important;
    color: #fff;
    margin-top: 11px;
    border-radius: 5px;
    background: #333399;
    display: inline-block;
    padding: 8px 31px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
.right_details a.more:hover{
    background: #3f51b5;
}
.tabs-all .tabs-link{

    margin-top: 27px;

    padding-bottom: 14px;

    border-bottom: 2px solid #6699cc;
}
.tabs-all .tabs-link li{
    display: inline-block;
    vertical-align: top;
    margin-right: 38px;
}
.tabs-all .tabs-link li a{
    color: #999999;
    font: 18px 'LatoLight';
}
.tabs-all .tabs-link li a:hover, .tabs-all .tabs-link li a.active{
    font: 18px 'LatoBold';
    color: #333399;
}
.tabs-all .text3{
    margin-top: 47px;
}
.tabs-all .text3 strong{
    font: 24px 'LatoBlack';
    color: #333399;
    display: block;
}
.tabs-all .text3 .city{
    font: 14px 'LatoBoldItalic';
    color: #000;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.tabs-all .text3 .stars{
    font: 14px 'LatoItalic';
    color: #333399;
    display: block;
    margin-bottom: 24px;
}
.tabs-all .text3 .stars img{
    display: inline-block;
    margin-right: 9px;
}
.tabs-all .text3 p{
    font: 14px 'LatoRegular';
    color: #999999;
    text-indent: 36px;
    line-height: 18px;
}
.menu{
    border-bottom: 1px solid #ccccff;
    padding-bottom: 35px;
	display: inline-block;
	width:100%;		
}
.menu .left_m{
    float: left;
    margin: 0 21px 0 0;
    position: relative;
}
.menu .left_m h2{
    font: 24px 'LatoRegular';
    color: #333399;
    margin: 0 0 18px 0;
}
.menu .left_m .price{
    background: #333399;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 7px 0;
}
.menu .left_m li:nth-child(2){
    margin-left: 73px;
}
.menu .left_m li{
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
}
.menu .left_m li span{
    text-transform: uppercase;
    color: #6699cc;
    font: 18px 'LatoRegular';
}
.menu .left_m li i{
    color: #fff;
    margin-left: 21px;
}
.menu .right_m{

    margin: 31px 0 28px 0;
}
.menu .right_m span{
    font: 18px 'LatoBold';
    color: #cccccc;
    display: block;
    text-decoration: line-through;
    margin-bottom: 16px;
}
.menu .right_m strong{
    font: 24px 'LatoBlack';
    color: #3366cc;
    display: inline-block;
    margin-left: 8px;
    text-decoration: none;
}
.menu .right_m b.up{
    font: 14px 'LatoRegular';
    display: inline;
}
.menu .right_m b{
    color: #000;
    font: 14px 'LatoItalic';
    display: block;
    margin-top: 25px;
}
.menu .right_m p{
    color: #cccccc;
    font: 14px 'LatoLight';
}
.menu .end, .menu .end2{
    text-align: center;
    color: #cccccc;
    font: 14px 'LatoLightItalic';
}
.tabs-content .pages{

    display: block;

    margin: 16px auto -37px;

    text-align: center;

}
.tabs-content .pages ul{
    position: relative;
    bottom: -1px;
}
.tabs-content .pages ul, .tabs-content .pages a.next2, .tabs-content .pages a.prev2{
    display: inline-block;
    vertical-align: middle;
}
.tabs-content .pages li{
    display: inline-block;
    vertical-align: top;
}
.tabs-content .pages li a, .tabs-content .pages a.next2, .tabs-content .pages a.prev2{
    color: #fff;
    font: 18px 'LatoLight';
    background: #ccccff;
    padding: 2px 9px;
}
.tabs-content .pages li a:hover, .tabs-content .pages li a.active, .tabs-content .pages a.next2:hover, .tabs-content .pages a.prev2:hover{
    background: #3366cc;
}
.info{
    margin-top: 41px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccccff;
}
.info span{
    font: 14px 'LatoLight';
    color: #333399;
    margin-bottom: 11px;
    display: block;
    margin-top: 38px;
}
.info strong{
    font: 18px 'LatoItalic';
    color: #999999;
    display: block;

}
.info .cart{

    margin-top: 27px;
}
.info .cart li{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
.info .diensten{

    margin-top: 20px;

    margin-bottom: 0;
}
.info .diensten li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 13%;
}
.info .diensten li i{
    display: block;
    font: 14px 'LatoRegular';
    text-transform: uppercase;
    text-align: center;
    color: #999999;
    margin-top: 12px;
}
.tabs-content a.more{
    font: 18px 'LatoRegular';
    color: #fff;
    margin-top: 31px;
    border-radius: 5px;
    background: #333399;
    display: inline-block;
    padding: 15px 37px;
    float: right;
    /* width: 100%; */
    text-align: center;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
.tabs-content a.more:hover{
    background: #3f51b5;
}
.map{

    margin-top: 62px;
}
.map h3{color: #999999;margin: 0;font: 18px 'LatoBold';}
.map span{color: #999999;font: 18px 'LatoRegular';display: block;margin: 2px 0 25px 0;}
.map a{color: #3366cc;font: 18px 'LatoBold';display: inline-block;margin-bottom: 10px;}
.map a:hover{
    color: #000;
}
.news{
    margin-top: 37px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccccff;
}
.news .in{
    overflow: hidden;
}
.news .ob{
    float: left;
    margin-right: 20px;
}
.news h2{
    margin: 0 0 2px 0;
    color: #333399;
    font: 24px 'LatoBold';
}
.news span{
    color: #999999;
    font: 14px 'LatoLight';
    display: block;
    margin-bottom: 14px;
}
.news p{
 color: #999999;
 font: 14px 'LatoLight';
 margin: 0;
 line-height: 18px;
 text-indent: 40px;
}
.news a{
    color: #3366cc;
    text-transform: uppercase;
}
.news a:hover{
    color: red;
}
#t5 .tabs-content .pages{
    margin-top: 40px;
}
.send{

    margin-top: 40px;
}
.send label{
    background: #f3f4fb;
    display: block;
    padding: 2px 0px;
    margin-bottom: 7px;
    position: relative;
}
.send input{
    font: 14px 'LatoRegular';
    margin: 0px 0 0px 0;
    border: none;
    outline: none;
    color: #333399;
    padding: 18px 30px 0 30px !important;
	height: 60px;
    border-left: 4px solid rgba(0,0,0,0);
}
.send::-webkit-input-placeholder {font: 14px 'LatoRegular';color:#000;}
.send::-moz-placeholder          {font: 14px 'LatoRegular';color:#000;}/* Firefox 19+ */
.send:-moz-placeholder           {font: 14px 'LatoRegular';color:#000;}/* Firefox 18- */
.send:-ms-input-placeholder      {font: 14px 'LatoRegular';color:#000;}

.send span {
    font: 14px 'LatoBoldItalic';
    color: #cccccc;
    position: absolute;
    top: 9px;
    left: 31px;
}
.send_review div {
	color: #cccccc;
	display:block;
	position:relative;
}
.send_review label{
    background: #f3f4fb;
    display: block;
    padding: 2px 0px;
    margin-bottom: 7px;
    position: relative;
}
.send_review span 
{	
    font: 14px 'LatoBoldItalic';
    color: #cccccc;
    position: absolute;
    top: 9px;
    left: 31px;
}
.send_review textarea {
	font: 14px 'LatoRegular';
    resize: none;
    height: auto;
    border: none;
    min-height: 102px;
    padding: 35px 30px 0;
    border-left: 4px solid rgba(0,0,0,0);
}
.send_review textarea:focus, .send input:focus
 {
    outline: none;
    border-bottom: none !important;
    box-shadow: none !important;
    border-left: 4px solid #333399;
}

.send textarea{
    font: 14px 'LatoRegular';
    resize: none;
    height: auto;
    border: none;
    min-height: 102px;
    padding: 35px 30px 0;
    border-left: 4px solid rgba(0,0,0,0);
	background-color:transparent;
}
.send textarea:focus, .send input:focus
 {
    outline: none;
    border-bottom: none !important;
    box-shadow: none !important;
    border-left: 4px solid #333399;
}
.send input[type='submit']{
    font: 18px 'LatoRegular';
    color: #fff;
    margin-top: 54px;
    border-radius: 5px;
    background: #333399;
    display: inline-block;
    padding: 11px 69px;
    float: right;
    text-align: center;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
.send input[type='submit']:hover{
    background: #3f51b5;
    cursor: pointer;
}
.reviews{

    margin-top: 17px;

    padding-left: 23px;

    border-bottom: 1px solid #ccccff;

    padding-bottom: 61px;
}
.reviews .avatar{
    float: left;
    margin-right: 47px;
    margin-top: -10px;
}
.reviews .avatar span{
    display: block;
    text-align: center;
    color: #333399;
    font: 14px 'LatoBold';
    margin-top: 14px;
}
.reviews .rev{
    margin-top: 27px;
    position: relative;
}
.reviews .rev p{
    font: 14px 'LatoItalic';
    color: #999999;
}
.reviews .rev span{
    color: #999999;
    font: 14px 'LatoLight';
}
.reviews .wr{

    border-radius: 60px;

    overflow: hidden;
}
.reviews .rev .rr{

    position: absolute;
    
    bottom: -57px;
    
    left: 135px;
}
.reviews .rev i{
    color: #333399;
    font: 14px 'LatoItalic';
    display: inline-block;
    margin-left: 40px;
}
.reviews .rev i img{

    margin-right: 9px;
}
.tabs-content #t7 .pages{

    display: block;

    margin: 36px auto -37px;

    text-align: center;

}
.tabs-content #t7 .pages ul{
    position: relative;
    bottom: -1px;
}
.tabs-content #t7 .pages ul, .tabs-content #t7 .pages a.next2, .tabs-content #t7 .pages a.prev2{
    display: inline-block;
    vertical-align: middle;
}
.tabs-content #t7 .pages li{
    display: inline-block;
    vertical-align: top;
}
.tabs-content #t7 .pages li a, .tabs-content #t7 .pages a.next2, .tabs-content #t7 .pages a.prev2{
    color: #fff;
    font: 18px 'LatoLight';
    background: #999999;
    padding: 2px 9px;
}
.tabs-content #t7 .pages li a:hover, .tabs-content #t7 .pages li a.active, .tabs-content #t7 .pages a.next2:hover, .tabs-content #t7 .pages a.prev2:hover{
    background: #3366cc;
}
.ui-datepicker-inline{
    width: 100%;
}
.bx-viewport{
    margin: 0;
}
.left_side .bx-wrapper img{
    width: 100%;
    height: 314px;
}
.main_gallery{
    position: relative;
}
.tabss .r_side{
    width: 16%;
    position: absolute;
    top: -10px;
    /*right: 24%;*/
}
.shop{
    padding-top: 118px;
    padding-bottom: 75px;
}
.shop .up{
    overflow: visible;
    height: auto;
}
.shop .up h2{
    font: 24px 'LatoRegular';
    color: #000;
    text-align: center;
    margin: 0;
}
.shop .up ul.list{margin-top: 43px;margin-left: -32px;}
.shop .up ul.list li{
    display: inline-block;
    vertical-align: top;
    width: 29%;
    margin-left: 29px;
}
.shop .up ul.list li p{
    font: 14px 'LatoRegular';
    color: #cccccc;
    /* max-width: 140px; */
    padding: 20px 0 0px 60px;
    padding-top: 20px;
    line-height: 19px;
}
.shop .up ul.list li .wrap{
    overflow: hidden;
    display: block;
    border-radius: 50%;
    float: right;
    width: 111px;
    height: 111px;
}
.shop .form{
    background: #c5cae9;
    margin-top: 55px;
}
.shop .form form{

    /* width: 82%; */
    
    margin: 0 auto;
}
.shop .form label:before{
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    background: url(../images/search.png) no-repeat center;
    position: absolute;
    left: 11px;
    top: 9px;
}
.shop .form label{
    display: inline-block;
    margin: 0 35px 0 -1px;
    background: #b0b7e1;
    padding: 0 0px 0 53px;
    position: relative;
}
.shop .form input{
    font: 14px Tahoma;
    color: #333399;
    border-bottom: none;
    margin: 0;
    padding: 15px 0px;
    outline: none;
    height: auto;
}
.shop .form ::-webkit-input-placeholder {font: 14px Tahoma; color:#333399;}
.shop .form ::-moz-placeholder          {font: 14px Tahoma; color:#333399;}/* Firefox 19+ */
.shop .form :-moz-placeholder           {font: 14px Tahoma; color:#333399;}/* Firefox 18- */
.shop .form :-ms-input-placeholder      {font: 14px Tahoma; color:#333399;}

.shop .form select{
    font: 14px Tahoma;
    color: #333399;
    display: inline-block;
    width: 23%;
    background: #b0b7e1;
    border: none;
    border-radius: 0px;
    padding: 14px 10px;
    margin-left: 20px;
    outline: none;
    height: auto;
}
.shop .form input:focus, .shop .form select:focus{
    outline: none;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.shop .form input[type='submit']{
    color: #fff;
    text-transform: uppercase;
    background: #7581ca;
    border: none;
    padding: 14px 55px;
    margin-left: 13px;
    font-size: 16px;
}
.shop .form input[type='submit']:hover{
    background: #333399;
}
.shop .form span{
    text-transform: uppercase;
    color: #fff;
    background: #c5cae9;
    font: 14px 'LatoRegular';
    display: inline-block;
    margin-right: 15px;
}
.shop .goods{

    padding-top: 19px;
}
.shop .goods .left-sidebar{
    float: left;
    width: 32%;
}
.shop .goods .left-sidebar .ac-container{
    width: 400px;
    margin: 10px auto 30px auto;
}
.shop .goods .left-sidebar .ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: auto;
    cursor: pointer;
    color: #777;
    line-height: 33px;
    font-size: 19px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
}
.shop .goods .left-sidebar .ac-container{
    width: 100%;
    margin: 0;
    text-align: left;
}
.shop .goods .left-sidebar .ac-container label{
    font: 14px 'LatoRegular';
    background: #f6f6f6;
    display: block;
    border-left: 4px solid rgba(0,0,0,0);
    padding: 10px 10px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
}
.shop .goods .left-sidebar .ac-container label:hover{
    color: #333399;
    border-left: 4px solid #333399;
    background: #ccccff;
}
.shop .goods .left-sidebar .ac-container input:checked + label,
.shop .goods .left-sidebar .ac-container input:checked + label:hover{
    background: #ccccff;
    color: #333399;
}
.shop .goods .left-sidebar .ac-container label:after,
.shop .goods .left-sidebar .ac-container input:checked + label:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(images/arrow_down.png) no-repeat center center;
}
.shop .goods .left-sidebar .ac-container input:checked + label{
    border-left: 4px solid #333399;
}
.shop .goods .left-sidebar .ac-container label:hover:after,
.shop .goods .left-sidebar .ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(images/arrow_down2.png) no-repeat center center;
}
.shop .goods .left-sidebar .ac-container input:checked + label:after{
    background-image: url(images/arrow_up.png);
}
.shop .goods .left-sidebar .ac-container input:checked + label:hover:after{
    background-image: url(images/arrow_up.png);
}
.shop .goods .left-sidebar .ac-container input{
    display: none;
}
.shop .goods .left-sidebar .ac-container article{
    /* background: rgba(255, 255, 255, 0.5); */
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.shop .goods .left-sidebar .ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.shop .goods .left-sidebar .ac-container input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}
.shop .goods .left-sidebar .ac-container a{

    display: block;
    
    color: #7986cb;
    
    background: #e8eaf6;
    
    margin-bottom: 1px;
    
    font: 14px 'LatoRegular';
    
    padding: 9px 29px;
}
.shop .goods .left-sidebar .ac-container input:checked ~ article.ac-small{height: auto;}
.shop .goods .left-sidebar .ac-container input:checked ~ article.ac-medium{
    height: 180px;
}
.shop .goods .left-sidebar .ac-container input:checked ~ article.ac-large{
    height: 230px;
}
.shop .goods .left-sidebar .ac-container label:before{
    display: none;
}
.shop .goods .left-sidebar select{
    font: 14px 'LatoRegular';
    color: #ccc;
    background: #f6f6f6;
    display: block;
    padding: 8px 8px;
    height: auto;
}
.shop .goods .left-sidebar select:focus{
   color:#333399;
   border-left: 4px solid #333399;
   background: #ccccff;
   outline: none;
}
.shop .goods .right-content{
    float: right;
    width: 66%;
}
.shop .goods .right-content .sort{
    background: #efefef;
}
.shop .goods .right-content .sort .r{
    float: right;
    padding-right: 5px;
}
.shop .goods .right-content .sort .r a{

    padding: 8px 6px;
    
    display: inline-block;
}
.shop .goods .right-content .sort .ls{
    font: 14px Tahoma;
    color: #999999;
    display: inline-block;
    padding: 9px 10px;
}
.shop .goods .right-content .sort .rs{
    font: 14px Tahoma;
    color: #999999;
    display: inline-block;
    padding: 5px 18px;
}
.shop .goods .right-content .sort select{
    color: #6699cc;
    display: inline-block;
    font: 14px Tahoma;
    background: none;
    border: none;
    width: 32%;
    padding: 5px 6px;
    height: auto;
    margin-left: 14px;
}
.shop .goods .right-content .sort select:focus{
    outline: none;
}
.shop .goods .right-content ul.box{

    margin-top: 15px;
}
.shop .goods .right-content ul.box li{
    display: inline-block;
    vertical-align: top;
    width: 24.5%;
    margin-bottom: 21px;
}
.shop .goods .right-content ul.box li a{
    display: block;
}
.shop .goods .right-content ul.box li .wrap{
    background: #f3f5fb;
    display: block;
    margin-bottom: 12px;
    text-align: center;
}
.shop .goods .right-content ul.box li a:hover .wrap b{
    background: #ccccff;
    display: block;
    padding: 17% 2%;
    height: 100px;
}
.shop .goods .right-content ul.box li a:hover .wrap img{
    display: none;
}
.shop .goods .right-content ul.box li b{
    display: none;
    text-transform: uppercase;
    text-align: center;
    color: #3366cc;
    font: 18px 'LatoLight';
}
.shop .goods .right-content ul.box li p{
    text-align: center;
    font: 14px 'LatoRegular';
    color: #000;
}
.shop .goods .right-content ul.box li strong{
    color: #6699cc;
    font: 18px 'LatoBlack';
    display: block;
    text-align: center;
}
.shop .goods .right-content .pages{

    display: block;

    margin: 8px auto -37px;

    text-align: center;
}
.shop .goods .right-content .pages ul{
    position: relative;
    bottom: -1px;
}
.shop .goods .right-content .pages ul, .shop .goods .right-content .pages a.next2, .shop .goods .right-content .pages a.prev2{
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}
.shop .goods .right-content .pages li{
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-bottom: 0px;
}
.shop .goods .right-content .pages li a, .shop .goods .right-content .pages a.next2, .shop .goods .right-content .pages a.prev2{
    color: #fff;
    font: 18px 'LatoLight';
    background: #939393;
    padding: 2px 9px;
}
.shop .goods .right-content .pages li a:hover, .shop .goods .right-content .pages li a.active, .shop .goods .right-content .pages a.next2:hover, .shop .goods .right-content .pages a.prev2:hover{
    background: #3366cc;
}

.shop .goods .right-content ul.lines{

    margin-top: 15px;
}
.shop .goods .right-content ul.lines li{
    display: block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 8px;
    height: 100px;
}
.shop .goods .right-content ul.lines li .wrap{
    background: #f3f5fb;
    display: inline-block;
    width: 140px;
    height: 100px;
    position: relative;
    top: -26px;
}
.shop .goods .right-content ul.lines li a{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    float: right;
    background: #c5cae9;
    font: 14px 'LatoLight';
    padding: 7px 0;
    margin-top: 29px;
    width: 140px;
}
.shop .goods .right-content ul.lines li a:hover{
    background: #7986cb;
}
.t{
    overflow: hidden;
    display: inline-block;
    margin-left: 14px;
}
.shop .goods .right-content ul.lines li i{
    text-align: left;
    font: 18px 'LatoRegular';
    color: #000;
    display: inline-block;
    margin-top: 25px;
}
.shop .goods .right-content ul.lines li strong{
    color: #6699cc;
    font: 18px 'LatoBlack';
    text-align: left;
    display: block;
    margin-top: 10px;
}
.shop .up .more{

}
.shop .up .more h2{
    margin: 0;
    font: 24px 'LatoRegular';
    color: #000;
    text-align: left;
    margin-bottom: 10px;
}
.shop .up .more .wrap{

    display: inline-block;

    vertical-align: top;

    margin-right: 18px;
}
.shop .up .more strong{
    font: 14px 'LatoRegular';
    color: #000;
}
.shop .up .more span{
   color: #283593;
   font: 18px 'LatoRegular';
   display: block;
   position: relative;
   margin: 7px 0 9px 39px;
}
.shop .up .more span:before{
    content: '';
    display: block;
    background: url(../images/many.png) no-repeat center;
    position: absolute;
    left: -38px;
    top: 4px;
    width: 28px;
    height: 17px;
}
.shop .up .more i{
    font: 14px 'LatoLight';
    color: #939393;
}
.shop .up .more a{
    font: 14px 'LatoLight';
    color: #fff;
    display: block;
    background: #7986cb;
    margin-top: 31px;
    width: 140px;
    text-align: center;
    padding: 8px 0;
}
.shop .up .more a:hover{
    background: #333399;
}
.shop .up .more .t2{

    overflow: hidden;

    display: inline-block;

    vertical-align: top;
}
.shop .up .more .t{

    display: inline-block;

    overflow: hidden;

    margin-left: 76px;

    vertical-align: top;
}
.shop .up .more .t h2{
    font: 14px 'LatoRegular';
    color: #000;
    margin-bottom: 20px;
}
.shop .up .more .t p{
    font: 14px 'LatoLight';
    color: #939393;
    max-width: 480px;
    line-height: 18px;
}

@media(min-width: 1180px){
    .text{
        /*left: -110px;*/
    }
    .shop .goods .right-content ul.box li a:hover .wrap b{
        padding: 15% 2%;
    }
}
@media(min-width: 640px) and (max-width: 800px){
    /*.datepicker1, .quantity{
        color: #000;
        background: none;
    }*/
    .datepicker1::-webkit-input-placeholder {color:#000;}
    .datepicker1::-moz-placeholder          {color:#000;}/* Firefox 19+ */
    .datepicker1:-moz-placeholder           {color:#000;}/* Firefox 18- */
    .datepicker1:-ms-input-placeholder      {color:#000;}
    .home-content{
        padding-bottom: 50px; 
    }
    .header .zoek{
        padding: 21px 38px;
    }
    a.question div, .question i, .side-nav li i{
        display: none !important;
    }
    header.nav li a:hover{
        border: none;
    }
    .home-title{
        text-align: center;
    }
    .text{
        width: 96%;
        margin: 0px auto 0;
    }
    .text span.crop{
        margin-right: 161px;
    }
    .col2{
        text-align: center;
    }
    .col3{
       width: 49.8% !important;
       margin-bottom: 15px;
   }
   .col4{
    margin-left: 12px;
    width: 30%;
    float: left;
}
.col-md-2{
    width: 24.66666667%;
    float: left;
}
.col-sm-3{
    width: 25%;
    float: left;
}
#cities p{
    margin-top: -35%;
    margin-bottom: 28%;
}
#cities{
    padding-top: 25px;
}
#partners{
    padding: 15px 0 45px 0;
}
.col12{
    border: none;
}
.col-sm-6{
    text-align: center;
}
.col3 .ob{
    margin: 0 auto;
}
.side-nav2 a{
    font-size: 11px;
}
.static-menu{
    margin-right: 30px;
}
a.button-collapse2{
    right: -2px;
	/*right: 3%;*/
}

.header .right-no li{
    /*margin-left: 100px;*/
    margin-top: 3px;
}
.header .center-menu li a:hover{
    border: none;
}
.header .center-menu li{
    margin-left: 0 !important;
    padding-left: 10px;
}
.header .center-menu li a{
    padding-left: 10px;
}
.side_menus .static-menu{
    margin-top: 4px;
    width: 100%;
    text-align: center;
}
.side_menus .static-menu li:last-child{
    margin-left: 25px;
}
.side_menus .filter{
    margin-left: -185px;
}
.col-ms1, .col-ms1 .col5{
    width: 100% !important;
}
.col5 .ob{
    float: none;
    text-align: center;
    background: #fff;
    margin: 0;
}
.col5 .text3{
    padding: 13px 15px 8px 15px;
}
.tabss .right_details{
    float: none;
    margin: 0 auto 10px;
    width: 55%;
    text-align: center;
}
.main_gallery{
    position: relative;
}
.tabss .r_side{
    width: 23%;
    position: absolute;
    top: -10px;
    right: 0;
}
.tabss .left_side{
    width: 75%;
}
.tabs-all .tabs-link li{
    margin-bottom: 10px;
}
.ui-datepicker-inline{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.bx-wrapper img{
    width: 100%;
    height: auto !important;
}
.menu .left_m{
    float: none;
    width: 100%;
    margin: 0;
}
.menu .left_m img{
    width: 100%;
}
.menu .left_m li{
    margin-left: 0;
}
.menu .left_m .price{
    text-align: center;
}
.info .diensten li{
    width: 24%;
    margin-bottom: 10px;
}
.send textarea{
    min-height: 155px;
}
.shop .up ul.list li{
    width: 49%;
    margin-left: 0;
    margin-bottom: 10px;
}
.shop .up .more .t{
    margin-left: 0;
}
.shop .form{
    text-align: center;
}
.shop .form label{
    margin-bottom: 10px;
}
.shop .goods .right-content ul.box li{
    width: 32.5%;
}
.shop .goods .right-content ul.box li a:hover .wrap b{
    height: auto;
}
.shop .goods .right-content ul.lines li{
    height: auto;
}
.shop .goods .right-content ul.lines li .wrap{
    top: 0;
    display: block;
}
.shop .up .more .t p{
    max-width: 100%;
}
}
@media(min-width: 480px) and (max-width: 639px){
    /*.datepicker1, .quantity{
        color: #000;
        background: none;
    }*/
    .datepicker1::-webkit-input-placeholder {color:#000;}
    .datepicker1::-moz-placeholder          {color:#000;}/* Firefox 19+ */
    .datepicker1:-moz-placeholder           {color:#000;}/* Firefox 18- */
    .datepicker1:-ms-input-placeholder      {color:#000;}
    .home-content{
        padding-bottom: 50px; 
    }
    .header .zoek{
        padding: 21px 38px;
    }
    a.question div, .question i, .side-nav li i{
        display: none !important;
    }
    .home-content{
        padding-bottom: 50px; 
    }
    .home-title{
        text-align: center;
    }
    .col-sm-6{
        text-align: center;
    }
    .col3{
       width: 100% !important;
       margin-bottom: 15px;
   }
   .col3 .ob{
    margin: 0 auto;
}
.flex-viewport{
    max-height: 100% !important;
}
.flex-direction-nav a{
    top: 50% !important;
}
.col4{
    margin-left: 12px;
    width: 47%;
    float: left;
}
#partners{
    padding-top: 20px;
}
.col-md-2{
    width: 32.66666667%;
    float: left;
}
.col-footer{
    padding: 0 0 0 0 !important;

}
.col-sm-3{
    width: 50%;
    float: left;
    padding: 0px 45px 0 45px;
}
.coll{
    width: 50%;
    float: left; 
}
.col12{
    border: none;
}
.text{
    position: absolute;
    /*top: -11px;*/
    left: 0px;
    display: block;
    width: 411px;
    margin: 0 auto;
    right: 0;
}
.col-footer .line{
    display: none;
}
.side-nav2 a{
    font-size: 15px;
}
.static-menu{
    margin-right: 60px;
}
/*a.button-collapse2{
    right: 20px;
    top: 25px;
}*/

.header .right-no li{
    margin-left: 41px;
    margin-top: 6px;
}
.header .zoek{
    margin-left: 10px;
    padding: 23px 38px;
}
.header .center-menu li a:hover{
    border: none;
}
.header .center-menu li{
    margin-left: 0 !important;
    padding-left: 10px;
}
.header .center-menu li a{
    padding-left: 10px;
}
.side_menus .static-menu{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.side_menus .static-menu li:last-child{
    margin-left: 25px;
}
.side_menus .filter{
    margin-left: -185px;
}
.col-ms1, .col-ms1 .col5{
    width: 100% !important;
    padding: 0;
}
.text3 .wr{
    text-align: center;
}
.col5 .text3 b{
    max-width: 100%;
}
.col5 .text3 .price{
    margin: 37px 6px 10px 5px;
}
.col5 .ob{
    float: none;
    text-align: center;
    background: #fff;
    margin: 0;
}
.col5 .text3{
    padding: 13px 15px 8px 15px;
}
.tabss .right_details{
    float: none;
    margin: 0 auto 10px;
    width: 100%;
    text-align: center;
}
.main_gallery{
    position: relative;
}
.tabss .r_side{
    width: 23%;
    position: absolute;
    top: -10px;
    right: 0;
}
.tabss .left_side{
    width: 75%;
}
.tabs-all .tabs-link li{
    margin-bottom: 10px;
}
.ui-datepicker-inline{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.bx-wrapper img{
    width: 100%;
    height: auto !important;
}
.menu .left_m{
    float: none;
    width: 100%;
    margin: 0;
}
.menu .left_m img{
    width: 100%;
}
.menu .left_m li{
    margin-left: 0;
}
.menu .left_m .price{
    text-align: center;
}
.info .diensten li{
    width: 32%;
    margin-bottom: 10px;
}
.news .ob{
    margin: 0 auto 10px;
    text-align: center;
    float: none
}
.news h2, .news span{
    text-align: center;
}
.send textarea{
    min-height: 215px;
}
.reviews{
    padding-bottom: 90px;
}
.reviews .rev span{
    display: block;
}
.reviews .rev i{
    margin-left: 0;
    display: block;
    margin-top: 5px;
}
.shop .up ul.list li{
    width: 49%;
    margin-left: 0;
    margin-bottom: 10px;
}
.shop .up .more .t{
    margin-left: 0;
}
.shop .form{
    text-align: center;
}
.shop .form label{
    margin-bottom: 10px;
}
.shop .goods .right-content ul.box li{
    width: 32.5%;
}
.shop .goods .right-content ul.box li a:hover .wrap b{
    height: 100px;
}
.shop .goods .right-content ul.lines li{
    height: auto;
}
.shop .goods .right-content ul.lines li .wrap{
    top: 0;
    display: block;
}
.shop .up ul.list li .wrap{
    float: none;
    margin: 0 auto;
    display: block;
}
.shop .form select{
    width: 40%;
    margin-bottom: 10px;
}
.shop .goods .left-sidebar, .shop .goods .right-content{
    float: none;
    width: 100%;
    margin-bottom: 15px;
}
.shop .up .more .t p{
    max-width: 100%;
}
}
@media(min-width: 320px) and (max-width: 479px){
    .datepicker1, .quantity{
        color: #000;
        background: none;
    }
    .datepicker1::-webkit-input-placeholder {color:#000;}
    .datepicker1::-moz-placeholder          {color:#000;}/* Firefox 19+ */
    .datepicker1:-moz-placeholder           {color:#000;}/* Firefox 18- */
    .datepicker1:-ms-input-placeholder      {color:#000;}
    .home-content{
        padding-bottom: 50px; 
    }
    .header .zoek{
        padding: 21px 38px;
    }
    a.question div, .question i, .side-nav li i{
        display: none !important;
    }
    .home-content{
        padding-bottom: 50px; 
    }
    .home-title{
        text-align: center;
    }
    .col-sm-6{
        text-align: center;
    }
    .col3{
       width: 100% !important;
       margin-bottom: 15px;
   }
   .col3 .ob{
    margin: 0 auto;
}
.flex-viewport{
    max-height: 100% !important;
}
.flex-direction-nav a{
    top: 50% !important;
}
.col4{
    margin-left: 12px;
    width: 90%;
    float: left;
}
#partners{
    padding-top: 20px;
    padding-bottom: 20px;
}
.col-md-2{
    width: 49.66666667%;
    float: left;
}
.col-footer{
    padding: 0 0 0 0 !important;

}
.col-sm-3{
    width: 100%;
    float: left;
    padding: 0px;
    text-align: center;
}
.coll{
    width: 100%;
    float: left; 
}
.col12{
    border: none;
}
.text{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 280px;
    margin: 0 auto;
    right: 0;
}
nav a.button-collapse{
    /*top: 8px !important;*/
	float:left !important;
	position: relative !important;
}
.text span.start{
    font: 18px 'LatoBold';
    margin-top: 16px;
}
.text strong.bax{
    font: 25px 'LatoBold';
}
.text strong.number{
    font: 50px 'LatoBold';
}
.text p{
    margin: 0;
    font: 10px 'LatoBlack';
}
.text span.crop{
    margin-right: 72px;
    font-size: 10px;
}
.col-footer .line{
    display: none;
}
.side-nav2 a{
    font-size: 15px;
}
.static-menu{
    margin-right: 60px;
}
/*a.button-collapse2{
    right: 28px;
    top: 20px;
}*/

ul.side-nav2{
    width: 230px;
}

.header .right-no li{
    /*margin-left: 35px;*/
 /*   margin-top: -1px;*/
    width: 65%;
}
.header .sk:before{
    top: 20px;
}
.header .zoek{
    margin: 17px auto;
    padding: 10px 8px;
}
.header .center-menu li a:hover{
    border: none;
}
.header .center-menu li{
    margin-left: 0 !important;
    padding-left: 10px;
}
.header .center-menu li a{
    padding-left: 10px;
}
.side_menus .static-menu{
    margin-top: 18px;
    width: 100%;
    text-align: left;
}
.side_menus .static-menu li{
    margin-right: 15px;
}
.side_menus .static-menu li:last-child{
    margin-left: 25px;
}
.side_menus .filter{
    margin-left: -185px;
}
.col-ms1, .col-ms1 .col5{
    width: 100% !important;
    padding: 0;
}
.text3 .wr{
    text-align: center;
}
.col5 .text3 b{
    max-width: 100%;
}
.col5 .text3 .price{
    margin: 15px 6px 10px 5px;
}
.col5 .text3 .more{
    margin-top: 10px;
}
.col5 .ob{
    float: none;
    text-align: center;
    background: #fff;
    margin: 0;
}
.col5 .text3{
    padding: 13px 15px 20px 15px;
}
.dropdown-content{
    left: 15px !important;
}
.col5 .text3 .calendar{
    margin: 4px 0 0 0px;
}
.col5 .text3 .calendar li, .col5 .text3 .calendar a.prev, .col5 .text3 .calendar a.next{
    margin-bottom: 10px !important
}
.tabss .right_details{
    float: none;
    margin: 0 auto 10px;
    width: 100%;
    text-align: center;
}
.main_gallery{
    position: relative;
}
.tabss .r_side{
    width: 16%;
    position: absolute;
    top: -10px;
    right: 0;
}
.tabss .left_side{
    width: 83%;
}
.tabs-all .tabs-link li{
    margin-bottom: 10px;
    width: 49%;
    text-align: center;
    margin-right: 0;
}
.ui-datepicker-inline{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.bx-wrapper img{
    width: 100%;
}
.right_details li{
    margin-left: 0;
}
.main_gallery{
	 position:relative;
    /*display: none;*/
}
.menu .left_m{
    float: none;
    width: 100%;
    margin: 0;
}
.menu .left_m img{
    width: 100%;
}
.menu .left_m li, .menu .left_m li:nth-child(2){
    margin-left: 0;
}
.menu .left_m .price{
    text-align: center;
}
.info .diensten li{
    width: 49%;
    margin-bottom: 10px;
}
.info .cart{
    text-align: center;
}
.info .cart li{
    margin-left: 0;
}
.news .ob{
    margin: 0 auto 10px;
    text-align: center;
    float: none
}
.news h2, .news span{
    text-align: center;
}
.send textarea{
    min-height: 215px;
}
.reviews{
    padding-bottom: 90px;
}
.reviews .rev span{
    display: block;
}
.reviews .rev i{
    margin-left: 0;
    display: block;
    margin-top: 5px;
}
.reviews .rev .rr{
    left: 0;
    bottom: -97px;
}
.shop .up ul.list li{
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
}
.shop .up .more .t{
    margin-left: 0;
    margin-top: 15px;
}
.shop .form{
    text-align: center;
}
.shop .form label, .shop .form span{
    margin: 0 0 10px 0;
    display: block;
    width: 100%;
}
.shop .goods .right-content ul.box li{
    width: 100%;
}
.shop .goods .right-content ul.box li a:hover .wrap b{
    height: 100px;
    padding: 13% 2%;
}
.shop .goods .right-content ul.lines li{
    height: auto;
}
.shop .goods .right-content ul.lines li .wrap{
    top: 0;
    display: block;
}
.shop .up ul.list li .wrap{
    float: none;
    margin: 0 auto;
    display: block;
}
.shop .form select{
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
}
.shop .goods .left-sidebar, .shop .goods .right-content{
    float: none;
    width: 100%;
    margin-bottom: 15px;
}
.shop .up .more .t p{
    max-width: 100%;
}
.shop{
padding-top: 90px;
}
.shop .goods .right-content .sort select{
    width: 55%;
}
.shop .goods .right-content .sort .r{
    float: none;
    padding: 0;
    text-align: center;
}
}
.faq_section {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 240px;
    height: 80px;
    color: white;
    margin: 20px;
}
.icon {
    float: left;
    margin: 15px;	
}
.company .icon {
	float: none;
}



.faq_section p {
    font-size: 18px;
    float: left;
    margin: 15px;
    color: white;
    vertical-align: middle;
    text-align: left;
}
.faq_section:hover {
    background: rgba(255, 255, 255, 0.4);
}
#faq1 {
    color: #363636;
    padding: 50px 0;

}
#faq1 ul li a {
    color: #363636;   
}
#faq1 ul li a:hover {
    color: #7986cb;   
}
#faq2 {
    color: #363636;
    padding: 50px 0;

}
#faq2 ul li a {
    color: #363636;   
}
#faq2 ul li a:hover {
    color: #7986cb;   
}
#faq3 {
    color: #363636;
    padding: 50px 0;

}
#faq3 ul li a {
    color: #363636;   
}
#faq3 ul li a:hover {
    color: #7986cb;   
}
#faq4 {
    color: #363636;
    padding: 50px 0;

}
#faq4 ul li a {
    color: #363636;   
}
#faq4 ul li a:hover {
    color: #7986cb;   
}

#faq5 {
    color: #363636;
    padding: 50px 0;

}
#faq5 ul li a {
    color: #363636;   
}
#faq5 ul li a:hover {
    color: #7986cb;   
}



/* homepage */
.homepage_btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 2.0em;
	padding: 20px 20px 20px 20px;
	text-decoration: none;
}

.homepage_btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.extension-install-fade {
	display: none;
	color: #fff;
	opacity: 0;
	transition: opacity 0.2s;
}

.extension-install-overlay .extension-install-fade {
	display: block;
	position: fixed;
	opacity: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	z-index: 1050;
}

.extension-install-fade .text {
	background: rgba(0, 0, 0, 0) url("../images/arr_w.png") no-repeat scroll 130px 0;
	position: fixed;
	left: 35%;
	top: 230px;
	margin-left: 10px;
	width: 510px;
	padding-top: 50px;
}

.extension-install-fade .text.Chrome {
        background: rgba(0, 0, 0, 0) url("../images/arr_w.png") no-repeat scroll 130px 0;
	position: fixed;
	left: 35%;
	top: 230px;
	margin-left: 10px;
	width: 510px;
	padding-top: 50px;
}
.extension-install-fade .text.Firefox {
        background: rgba(0, 0, 0, 0) url(../images/arr_w2.png) no-repeat scroll 100px 0;
	position: fixed;
	left: 0;
	top: 130px;
	margin-left: 10px;
	width: 675px;
	padding-left: 170px;
}
.slider {
	 height: auto !important;
}

#topmenu_saldo, #topmenu_saldo a{
  display: inline; padding-top: 0px; margin-top: 10px; margin-right: 10px; font-size: 22px; font-weight: bold; color:#cccccc;
}

.homepage_block_container{
	position:relative; background-color: #ffffff !important; height: auto; width: 100%; margin: 0px;
}

.homepage_block_1{
	height:350px; display: inline; float:left;
}

.homepage_block_2{
	height: 350px; display: inline;float:left; clear: right; text-align: center;
	background-color: #ffffff;
}

.footerWrap{
	position: static;
}

@media (max-width: 550px){
	#topmenu_saldo{
	   display: none;
	}

	.homepage_block_1{
		height: auto;
	}
	.homepage_block_2{

	}

	#typeBar{
		display: none;
	}

	.homepage_block_1 img{
		width: 90vw !important;
	}

	}

.deal_btn {
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #5e80b2;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.deal_btn:hover {
	background: #5e80b2;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.fixed-row {
 background-color:black;	
}

.d-inline-block {
	 display:inline-block;
}


.page-fixed {
	/*padding-top:90px;*/
	color:#363636;	
	line-height:24px;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	margin-bottom:55px;
	font-weight:400;
	vertical-align: baseline;
}

.page-fixed h5 {
	color:#363636;
	font-size:24px;
	font-weight:400;
}

.page-fixed h4 {
	color:#898989 !important;
	font-size:24px;
	line-height:32px;
}

.page-fixed h3 {
	color: #3f51b5; 
	text-decoration:none;
	font-size:40px;	
	line-height:40px;
	margin-bottom:24px;	
}

.page-fixed a:hover {
	color:#898989;
}
.page-fixed a {
	color:#283593;
}

.page-fixed p {
	color: #363636; 
	font-size:16px;
	font-weight:400;
	line-height:24px;
	letter-spacing:.04em;
	margin:24px 0 16px;
}

.float-right {
	float:right;
}

.input-field {
	margin-top:20px;
}

.blueseal-text {
  color:#333399;	
}

.thumbnails
{
	min-width:462px;
	min-height:280px;
}

.laptop {
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

.space-header {
	padding-top:60px;
	padding-bottom:50px;
}